---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/294021?apikey=<APIKEY_ACCUWEATHER>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '50'
      ratelimit-remaining:
      - '49'
      akamai-grn:
      - 0.48ab3717.1703669204.26f19744
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-12-27T12:17:00+03:00","EpochTime":1703668620,"WeatherText":"Light
        snow","WeatherIcon":20,"HasPrecipitation":true,"PrecipitationType":"Snow","IsDayTime":true,"Temperature":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"}]'
  recorded_at: Wed, 27 Dec 2023 09:26:44 GMT
recorded_with: VCR 6.2.0
