---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/294021/historical/24?apikey=<APIKEY_ACCUWEATHER>&details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '50'
      ratelimit-remaining:
      - '48'
      akamai-grn:
      - 0.16abce17.1703669735.32b606d7
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2023-12-27T11:58:00+03:00","EpochTime":1703667480,"WeatherText":"Light
        snow","WeatherIcon":20,"HasPrecipitation":true,"PrecipitationType":"Snow","IsDayTime":true,"Temperature":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":-2.5,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18,"Phrase":"Cold"}},"RealFeelTemperatureShade":{"Metric":{"Value":-2.5,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18,"Phrase":"Cold"}},"RelativeHumidity":92,"IndoorRelativeHumidity":36,"DewPoint":{"Metric":{"Value":-2.8,"Unit":"C","UnitType":17},"Imperial":{"Value":27.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":315,"Localized":"NW","English":"NW"},"Speed":{"Metric":{"Value":5.6,"Unit":"km/h","UnitType":7},"Imperial":{"Value":3.5,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":5.6,"Unit":"km/h","UnitType":7},"Imperial":{"Value":3.5,"Unit":"mi/h","UnitType":9}}},"UVIndex":0,"UVIndexText":"Low","Visibility":{"Metric":{"Value":9.7,"Unit":"km","UnitType":6},"Imperial":{"Value":6.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"S-","CloudCover":75,"Ceiling":{"Metric":{"Value":152.0,"Unit":"m","UnitType":5},"Imperial":{"Value":500.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":996.0,"Unit":"mb","UnitType":14},"Imperial":{"Value":29.41,"Unit":"inHg","UnitType":12}},"PressureTendency":{"LocalizedText":"Rising","Code":"R"},"Past24HourTemperatureDeparture":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":-4.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":-3.9,"Unit":"C","UnitType":17},"Imperial":{"Value":25.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":-2.4,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.5,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.02,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.5,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.02,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.5,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.02,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":1.5,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.06,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":2.5,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.1,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":4.1,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.16,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":4.1,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.16,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":5.1,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.2,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":11.7,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.46,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{"Minimum":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}}},"Past12HourRange":{"Minimum":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}}},"Past24HourRange":{"Minimum":{"Metric":{"Value":-2.8,"Unit":"C","UnitType":17},"Imperial":{"Value":27.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":1.1,"Unit":"C","UnitType":17},"Imperial":{"Value":34.0,"Unit":"F","UnitType":18}}}},"MobileLink":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us","Link":"http://www.accuweather.com/en/ru/moscow/294021/current-weather/294021?lang=en-us"},{"LocalObservationDateTime":"2023-12-27T11:07:00+03:00","EpochTime":1703664420,"WeatherText":"Light
        snow","WeatherIcon":20,"HasPrecipitation":true,"PrecipitationType":"Snow","IsDayTime":true,"Temperature":{"Metric":{"Value":-2.2,"Unit":"C","UnitType":17},"Imperial":{"Value":28.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":-2.5,"Unit":"C","UnitType":17,"Phrase":"Cold"},"Imperial":{"[...]
